.top-section p {
}

/*article {*/
/*    width: 100px;*/
/*    position: relative;*/
/*    text-align: center;*/
/*    margin: 16px;*/
/*}*/

/*article span {*/
/*    background-color: #BC4C2A;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    color: white;*/
/*    font-size: 8px;*/
/*    padding: 4px;*/
/*}*/

/*article p {*/
/*    font-size: 10px;*/
/*}*/
.top-section {
/*.work-article {*/
    display: flex;
    flex-basis: 1000px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 100px 0;
color: black;
    /*width: 200px;*/
}

img {
    width: 100%;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

/*.avatar img {*/
/*!*.work-article__image-wrapper img {*!*/
/*    !*Om afbeeldingen goed mee te laten schalen met de wrapper, zet je de afbeelding zelf altijd op 100% breedte.*/
/*    Zo past de afbeelding zich telkens aan, aan zijn omgeving*!*/
/*    width: 100%;*/
/*    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);*/
/*}*/

.info-container {
/*.work-article__info-container {*/
    /*De content moet in de basis 480 breed zijn*/
    flex-basis: 480px;
    /*Als er meer ruimte is, mag hij NIET groter worden*/
    flex-grow: 0;
    /*Als er minder ruimte is, mag hij NIET kleiner worden*/
    flex-shrink: 0;
    padding: 0 50px 50px 50px;
}