form button {
    margin-top: 40px;
    width: 140px;
    height: 40px;
    border: none;
    background-color: var(--main-color-dark);
    border-radius: 20px;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}