.account-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: var(--main-color-white);
    padding: 16px;
    margin-bottom: 15px;
    width: 100%;

    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    list-style: none;
}