.property-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    margin: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--main-color-dark);
}

.property-card__name {
    font-weight: lighter;
    font-size: 20px;
    background-color: var(--main-color-white);
    color: var(--main-color-dark);
    border: 1px solid var(--main-color-dark);
    margin: 0 10px;
    padding: 0 5px;
    width: 100%;
}

.property-card__price {
    background-color: var(--main-color-medium);
    color: var(--main-color-dark);
    margin: 0 10px;
    padding: 0 5px;
    width: 100%;
}

.property-card__description {
    font-weight: 200;
    font-size: 16px;
    text-align: justify;
    padding: 0 5px;
}

.property-card img {
    width: 100%;
}