.property-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    margin: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--main-color-dark);
}

.property-card-name {
    font-weight: 300;
    background-color: var(--main-color-white);
    color: var(--main-color-dark);
    border: 1px solid var(--main-color-dark);
    margin: 20px 0;
    width: 100%;
}

.property-card-price {
    background-color: var(--main-color-medium);
    color: var(--main-color-dark);
    width: 100%;
}

.property-card-description {
    font-weight: 200;
    font-size: 16px;
    text-align: justify;
}

.property-card img {
    width: 100%;
}