.profilepage__accountinfo {
    color: var(--main-color-dark);
}

.profilepage__buttons {
    display: flex;
    flex-direction: column;
}

.profile-page__sub-message {
    background-color: var(--main-color-dark);
}