.general-form__top-section {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    text-shadow:
            1px 1px 2px var(--main-color-white),
            0 0 1em var(--main-color-medium),
            0 0 0.2em var(--main-color-white);
    margin: auto;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.general-form {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    padding: 12px;
    color: var(--main-color-dark);
    background-color: var(--main-color-medium);
}

.general-form h1 {
    color: var(--main-color-light);
    text-shadow:
            1px 1px 2px var(--main-color-medium),
            0 0 1em var(--main-color-dark),
            0 0 0.2em var(--main-color-medium);
}

.general-form__left-side {
    order: 1; /* Set the order to 1 for the left side */
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 50%;
}

.general-form__image {
    max-width: 60%;
    order: 2; /* Set the order to 2 for the image */
    margin-left: 15px; /* Add margin to the left of the image for spacing */
}

.general-form label {
    text-align: left;
    font-size: 14px;
    font-weight: lighter;
    color: var(--main-color-dark);
}

.general-form input,
.general-form textarea {
    padding: 12px;
    margin: 4px 0 12px 0;
    border-radius: 6px;
    border: 1px solid var(--main-color-light);
    background-color: var(--main-color-white);
}