.section__padding {
    padding: 4rem 4rem;
}

.footer {
    background-color: var(--main-color-dark);
}

.sb__footer {
    display: flex;
    flex-direction: column;
}

.sb__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb__footer-links-div:hover {
    background-color: var(--main-color-medium);
    border-radius: 10px;
    padding: 0 10px 0 10px;
    transition: all 0.1s ease-out;
}

.sb__footer-links_div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: red;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sb__footer-below {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

hr {
    color: white !important;
    width: 100%;
}