.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: center;
}

.dropdown-menu li {
    background: var(--main-color-dark);
    cursor: pointer;
    margin: 3px;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--main-color-white);
    padding: 3px;
}
