/*The outer container is always full screen width. It is a flexbox which content always remains horizontally centered.*/
.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Inner container is max 1400 wide, for consistency on wide screens
It is allowed to shrink if screen is less wide, but not grow when more space*/
.inner-content-container {
  flex-basis: 1400px;
  flex-shrink: 1;
  flex-grow: 0;
}


.inner-content-container__text-restriction {
  flex-basis: 1000px;
  flex-shrink: 1;
  flex-grow: 0;

  background-color: var(--main-color-white);
  /*background-color: var(--main-color-medium);*/
  /*border: 2px solid var(--main-color-white);*/
  text-align: center;
  padding: 50px 0;
  margin: 150px 0 50px 0;
  font-weight: 600;
  width: 60%;
  text-transform: uppercase;
}

.inner-content-container,
.inner-content-container__text-restriction {
  margin: 0 20px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color-light);
}


.sub-message {
  font-weight: lighter;
  font-size: 10px;
}

.sub-message__links {
  color: red;
}
.sub-message__links:hover {
  text-decoration: underline;
}


/*----------------------------- HEADER -----------------------------*/
/*----------------------------- GLOBAL STYLES -----------------------------*/
/*----------------------------- HEADER -----------------------------*/
/*----------------------------- MAIN -----------------------------*/
/*----------------------------- FOOTER -----------------------------*/


